

*{

  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.navbar1{

  height: 20vh;
}
.logo4{
  height: 16vh;
  width: 9vw;
  margin-top: 2vh;
}
.h4style{
  margin-left: 11vw;
  margin-top: -9vh;
 }
@media only screen and (min-width: 300px) and (max-width: 767px){
  .navbar1{

width: 100%;
height: 13vh;
  }
  .logo4{
    height: 8vh;
    width: 12vw;
    margin-top: 2vh;
  }
  .h4style{
    margin-left: 14vw;
    margin-top: -7vh;
    font-size: 4vw;
   }
  
}
.carousel-image {
  /* height: calc(100vh -300px); */
   /* Adjust the 80px to account for any fixed headers or other elements */
   height: 70vh;
   width: 90vw;
}
@media only screen and (min-width: 300px) and (max-width: 767px){

  .carousel-image{

    height: 50vh;
    width: 100%;

  }

}
/* about section-upper */
@media only screen and (min-width: 300px) and (max-width: 767px){

  .card{
    width: 100%;
    height: 45vh;
  }
  .card-body{
    width: 100%;
    height: 45vh;
  }

}

/* about section-lower */

.about-image{
  height: 45vh;
  width: 45vw;
}

@media only screen and (min-width: 300px) and (max-width: 767px){
  .about-image{
    height: 45vh;
    width: 100%;
  }

}



.image1{
  width: 18vw;
  height: 25vh;
 
}


@media (max-width: 768px) {
  .image1 {
    width: 100%;
    height: 25vh;
  }
}
.item{

 
  height: 30vh;
  width:18vw ;
 
}
@media only screen and (min-width: 300px) and (max-width: 767px){
  .item{

   
    height: 30vh;
    width:100% ;
  }
}
/* achivement-section */

.cardstyle{
  border: none;
  margin-top: 20vh;
}

/* blog-section */
.h1styleac{
  margin-left: 8vw;
  margin-top: -2vh;
}
@media only screen and (min-width: 300px) and (max-width: 767px){
  .h1styleac{
    margin-left: 12vw;
  }
}

/* Star-section */
.starp{

  margin-left: 45vw;
}
.starh1{
  margin-left: 38vw;
}
@media only screen and (min-width: 300px) and (max-width: 767px){
  .starp{

    margin-left: 35vw;
    font-size: 20px;
  }
  .starh1{
    margin-left: 20vw;
  }
}
/* Star-section */
@media only screen and (min-width: 300px) and (max-width: 767px){
  .maps{

width: 100%;


  }

}


/* footer */

.logo3{
  height: 16vh;
  width: 9vw;
  margin-top: 2vh;
}

@media only screen and (min-width: 300px) and (max-width: 767px){
  .logo3{
    height: 8vh;
    width: 16vw;
    margin-top: 2vh;
    object-fit: cover;
  }
}


